.nav{
    color: black;
    text-align: right;
    margin-right: 10%;
}
#under-line{
    text-decoration: none;
    color: black;
    font-family: 'Lobster', cursive;
    padding-left: 3%;
}
.w-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#f-half{
    margin-top: 12%;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: xx-large;
}
p{
    font-size: larger;
    text-align: justify;
}
#font-color{
    color: orange;
}
#back-color{
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 35%;
    margin-left: 0%;
}
#pic{
    width: 100%;
}
#donload-pic{
    width: 20px;
    height: 20px;
}
#project{
    color: orange;
}

.working-project{
    margin-top: 1500px;
    text-align: center;
    margin-bottom: 5%;
}
.photos{
    float:left;
    width: 20%;
    margin-left: 8% ;
    padding: 20px 20px 20px 20px;
    box-shadow: 1px 1px 10px rgb(185, 184, 184);
}    
.font{
    font-size: 15px;
}
#font-h1{
    font-size: large;
    text-align: center;
}
#pix{
    margin-left: 20% ;
}

#shape{
    margin-top: 20%;
    width: 50%;
    text-align: center;
}
#work{
    color: white;
    text-align: center;
    padding-top: 140px;
    padding-right: 350px;
}

.top-banner{
    margin-top: 500px;
    background-position: center;
    background-image: url(shapes/Group_33094_1.png);
    background-repeat: no-repeat;  
    background-size: 800px;
    height: 300px;
  
}
#new-color{
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 7%;   
}
.chat{
    margin-left: 1200px;    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;          
}
#center{
    text-align: center;
}
.pixx{
    padding-left: 2%;
}
#stay{
    color: brown;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
    position:relative;
    margin-bottom: 5%;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}




